<link rel="stylesheet" href="./css/daktico.css" />
<link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
    rel="stylesheet"
/>

<div id="app">
    <div class="daktico-section">
        <!-- <div class="js-title">
            <h1>ejemplo sap</h1>
        </div>
        <div class="js-breadcrumb">
            <a href="#">Pagina Principal</a> / <a href="#">Cursos</a> /
            <a href="#">Ejemplo SAP</a> / <a href="#">General</a> /
            <a href="#">5. daktico</a>
        </div> -->
        <div class="js-body">
            <!-- <button @click="dakticoFinalizado()">test</button>
            <button @click="actividadFinalizada()">actividadFinalizada</button> -->
            <button @click="toggleCompletion">toggleCompletion</button>
            <iframe
                id="daktico-data"
                class="iframe-daktico"
                src="{{ url }}/mod/daktico/iframes/{{ iframe_link }}"
                frameborder="0"
                sesskey="{{ sesskey }}"
                cursoid="{{ cursoid }}"
                coursemoduleid="{{ coursemoduleid }}"
                userid="{{ userid }}"
                url="{{ url }}"
                iframe_link="{{ iframe_link }}"
            >
            </iframe>
        </div>
    </div>
</div>

<script>
    const sesskey = "{{sesskey}}";
    const link = "{{iframe_link}}";
    const cursoid = "{{cursoid}}";
    const coursemoduleid = "{{coursemoduleid}}";
    const userid = "{{userid}}";
    const url = "{{url}}";

    function load() {
        let time = setInterval(() => {
            let frame = document.getElementById("daktico-data");
            console.log(frame);

            if (frame != undefined) {
                frame.contentWindow.postMessage(
                    {
                        sesskey: sesskey,
                        link: link,
                        cursoid: cursoid,
                        coursemoduleid: coursemoduleid,
                        userid: userid,
                        url: url,
                    },
                    "https://play.daktico.com/"
                );

                clearInterval(time);
            }
        }, 100);
    }

    window.onload = load();
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/daktico.js"></script>
